{% macro buildArtifactoryConn(host,port,password) %}
    "artifactory" :
    {
        "host" : "{{ host }}",
        "port" : {{ port }},
        "password" : "{{ password }}",
        "service" : "https",
        "path" : "/artifactory"
    }{% endmacro %}
