{
    {%- block base_content -%}
        {# Define artifactory connection #}
        {%- block artifactory -%}{% endblock %}
        {%- block linux_section -%}
        "linux" :
        {
            "tags" :
            {
                {%- block linux_tags -%}{% endblock %}
            }
        },
        {% endblock %}
        {%- block windows_section -%}
        "windows" :
        {
            "tags" :
            {
                {%- block windows_tags -%}{% endblock %}
            }
        }
        {% endblock %}
    {% endblock %}
}